@import 'variables/colors.css';
@import 'variables/typography.css';

body {
  background-image: url("./../../pictures/background-main.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  color: orange;
  font-size: 30px;
  font-family: cursive;
  margin: 10px;
}
